@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

//reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: "Lato", sans-serif;
}

.my_card {
    height: 300px;
    background-color: #0869db;
    color: white;
    .title {
        height: 3em;
    }
    span {
        font-size: 1.1em;
    }
}
